
@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)), url(../image/p1.jpg);
	background-position: center;
	background-size: cover;
}
.nav-links {
	flex : 1;
}
.nav-links ul{
	
	margin-left: 40%;
	display: inline;
	
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
  margin-top: 40px;	
}

.nav-links ul a{
	color: #fff;
	text-decoration: none;
	font-size:20px;
	font-weight: bold;
}
.nav-links ul li::after{
	
	content:'';
	width:0;
	height:2px;
	background:yellow;
	display: block;
	margin: auto;
	transition: .5s;
}
.nav-links ul li:hover::after{
	width:100%;
}


.btn {
	padding: 10px 20px;
	border: 0;
	background: yellow;
	font-weight: bold;
	cursor: pointer;
}

.banner-title {
	margin: 100px 80px;
	color: #fff;
}

.banner-title h1 {
	margin-bottom: 30px;
	font-size: 64px;
}

.banner-title h1 span {
	color: green;
}
