@CHARSET "ISO-8859-1";
body{
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-sarif;
}
table{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
	width: 800px;
	height: 200px;
	border: 1px solid black;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);	
}
tr{
	transition: all .2s ease-in;
	cursor: pointer;
}
th,td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid black;
}
#header{
	background-color: cyan;
	color: blue;
}
h1{
	font-weigh: 600;
	text-align: center;
	background-color: cyan;
	color: blue;
	padding: 10px 0px;
}
tr:hover{
	background-color: #f5f5f5;
	transform: scale(1.02);
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}














